<div class="right-side-content small-10 columns">
  <div class="content">
    <div class="intro panel">
      <p>Hey there, my name is Carl Venezia.</p>
      <p>
        I'll be building this site out soon. Check back later!
      </p>
    </div>
    <br />
  </div>
</div>
