<div class="right-side-content small-10 columns">
  <div class="content">
    <div class="intro panel">
      <p>Hey there, my name is Carl Venezia.</p>
      <ul>
        <li>I build software, business, and life.</li>
        <li>I'm also heavily addicted to burritos.</li>
        <li>If any of that vibes well with you,
           it would be great to talk.</li>
      </ul>
    </div>
    <p>Thank you for browsing my site. </p>

    <br />

    <p>
      <b>Update 01/09/16:</b>
      <hr />
      This site in under construction as I focus on my coursework at Launch Academy.
      The site will be finished by 1/28/16. Hope to see you again then!
    </p>
  </div>
</div>
