<div class="right-side-content small-10 columns">

  <div class="intro">
    <p>Hey there, my name is Carl Venezia.</p>
    <ul>
      <li>I develop software</li>
      <li>I am an active social entrepreneur</li>
      <li>I am so addicted to burritos</li>
    </ul>
<br />
<p>
  <b>Update 01/09/16:</b>
  <hr />
  This site in under construction as I focus on my coursework at Launch Academy.
  The site will be finished by 1/28/16. Hope to see you again then!
</p>
  </div>
</div>
